# Variáveis de ambiente — NÃO versione este arquivo
# Execute o app com: flutter run --dart-define-from-file=.env
# Build com:        flutter build apk --dart-define-from-file=.env

CERT_SENHA=sua_senha_aqui
